/* Add CSS Styling */
.odd {
  background-color: rgb(250, 178, 190);
  font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#second {
  color: rgb(5, 5, 241);
  font-size: 36px;
}

#third {
  font-size: 24px;
}

#fourth {
  background-color: rgb(14, 221, 38);
  font-size: 24px;
  font-weight: bold;
}
